* {
  margin: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

*:focus {
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
form {
  margin: 0px !important;
}

a {
  text-decoration: none !important;
}

.black {
  color: black !important;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0 !important;
}

body {
  font-family: "Poppins", sans-serif;
}

.font-small {
  font-size: small;
}

.font-semibold {
  font-weight: 600;
}

.font-x-large {
  font-size: x-large;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 300;
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.h-auto {
  height: auto;
}

.w-auto {
  width: auto;
}

.gap {
  gap: 0.5rem;
}

.logo {
  width: 2rem;
}

.left {
  display: block;
  position: fixed;
  height: 100vh;
  width: 230px;
  top: 0px;
  left: 0px;
  z-index: 999;
  border-right: 1px solid rgba(179, 179, 179, 0.5);
  background: white;
}

.right {
  margin-left: 230px;
  /* Set the margin to the width of the left div */
}

.left ul a {
  text-decoration: none;
  color: rgb(90, 90, 90) !important;
  display: flex;
  gap: 10px;
}

.left ul a:hover {
  color: rgb(41, 41, 41) !important;
  cursor: pointer;
}

.header {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 5px;
}

.header form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
}

.searchbar-top input[type="text"] {
  border: 0px;
  width: 30vw;
  height: 2.5rem;
}

.searchbar-top input[type="text"]:focus {
  outline: 0;
}

.login-button {
  padding: 5px 12px;
  background-color: rgba(255, 128, 30, 0.938);
  border-radius: 0.25rem;
  border-style: none;
  color: white;
  text-decoration: none;
}

.login-button:hover {
  background-color: rgb(41, 41, 41);
  cursor: pointer;
  color: white;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10rem;
  background: url(./img/slider-1.png) no-repeat;
  background-position: right;
  background-size: cover;
}

.slider form {
  position: relative;
  top: 10rem;
}

.slider input[type="text"] {
  border: 1px solid rgba(0, 0, 0, 0.11);
  background: none;
  border-radius: 0.25rem;
  width: 67vw;
  height: auto;
  padding: 10px 10px;
  position: relative;
  top: -10rem;
}

.product-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
}

.product {
  width: 24%;
  background-color: white;
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
  margin: 0.5rem 0.5rem;
  padding: 20px 20px;
}

.product img {
  height: 11vw;
}

.products button {
  background-color: rgba(255, 128, 30, 0.938);
  outline: none;
  border: none;
}

.products button:hover {
  background-color: rgb(41, 41, 41);
  outline: none;
  border: none;
}

.products button:active {
  background-color: rgb(41, 41, 41) !important;
}

footer {
  background-color: rgba(255, 128, 30, 0.938);
  color: white;
}

.footer-middle {
  line-height: 2rem;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: white;
}

/* Login Area */
.container {
  background-color: white;
  padding: 20px 30px !important;
  width: 22rem !important;
}

/* Full-width input fields */
.container input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.main-login-button {
  background-color: rgba(255, 128, 30, 0.938);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.main-login-button:hover {
  background-color: rgb(41, 41, 41);
}

/* Extra styles for the cancel button */
.cancelbtn {
  display: flex;
  margin: 10px 0px;
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  border: none;
  color: white;
  border-radius: 0.25rem;
}

.cancelbtn:hover {
  background-color: rgb(41, 41, 41);
}

@media (max-width: 768px) {
  .left {
    display: none;
  }

  .right {
    margin-left: 0px;
  }

  .slider {
    display: none;
  }

  .product {
    width: 45%;
    margin: 0.5rem;
    padding: 10px 10px;
  }

  .product img {
    height: 18vw;
  }
}

/* Media queries for mobile */

@media (max-width: 576px) {
  .product {
    width: 100%;
    margin: 0.5rem 0;
    padding: 10px;
  }

  .product img {
    height: 30vw;
  }

  .slider {
    padding: 2rem;
    background-position: center;
  }
}
